*.bpc
*.bsp
*.egg-info
*.ipynb_checkpoints
*.pyc
*.tpc
*.tf
.cache/
.coverage/
.project
.pydevproject
.settings
.tox/
/Leap_Second.dat
/deltat.data
/deltat.preds
/dist/
/skyfield/documentation/_build/
/tmp*
CometEls.txt
MANIFEST
MPCORB.DAT*
Untitled*.ipynb
build
htmlcov/
stations.txt
