*.bpc
*.bsp
*.egg-info
*.ipynb_checkpoints
*.pyc
.cache/
.coverage/
.project
.pydevproject
.settings
.tox/
/Leap_Second.dat
/deltat.data
/deltat.preds
/dist/
/skyfield/documentation/_build/
/skyfield/documentation/_static/
MANIFEST
MPCORB.DAT
Untitled*.ipynb
build
hip_main.dat.gz
htmlcov/
stations.txt
tmp*.py
