*.bpc
*.bsp
*.egg-info
*.ipynb_checkpoints
*.pck
*.pyc
*.tpc
*.tf
.cache/
.coverage/
.project
.pydevproject
.settings
.tox/
/build/
/dist/
/finals2000A.all
/skyfield/documentation/_build/
/tmp*
/tyc_main.dat
5MKLEcatalog.txt
CometEls.txt
MANIFEST
MPCORB.DAT*
Soft0*.txt
Untitled*.ipynb
htmlcov/
active.txt
stations.txt
design/active.txt
