
name: ci

on:
  push:
    branches:
      - master
      - ci
      - ci2

  pull_request:
    branches:
      - master

jobs:
  test-and-doctest:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2
    - name: Run tests and doctests inside container
      run: ./containers/ci/run bash -c './test-code.sh && ./test-docs.sh'

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install linter
      run: python -m pip install --upgrade pyflakes
    - name: Run linter
      run: pyflakes $(find skyfield/ -name '*.py')
